@media screen and (max-width: 575.98px) {
  .d-desktop {
    visibility: hidden;
    display: none;
  }

  .d-mobile {
    visibility: visible;
    display: inherit;
  }

  .hero-content {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .text-muted {
    font-size: 20px;
  }

  .text-primary {
    font-size: 50px;
  }

  .hero-image {
    width: 100%;
    margin-top: 20px;
  }

  .now-showing {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .now-showing-tittle-left {
    font-size: 19px;
  }

  .now-showing-tittle-right {
    font-size: 15px;
  }

  .movies-scroll {
    justify-content: flex-start;
    gap: 10px;
  }

  .month-scroll {
    justify-content: flex-start;
  }

  .movies-scroll::-webkit-scrollbar {
    display: none;
  }
  .month-scroll::-webkit-scrollbar {
    display: none;
  }

  .text-center-mobile {
    text-align: center;
  }

  .justify-content-center-mobile {
    justify-content: center;
  }
}
