/* Font */
/* font-family: 'Mulish', sans-serif; */

#choose-seat {
  background-color: #f5f6f8;
}

.movie-selected {
  color: #14142b;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.25px;
}

.movie-tittle-card {
  border-radius: 6px;
  background: #fff;
}

.movie-tittle-card h2 {
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.25px;
}

.choose-your-seat {
  color: #14142b;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.25px;
}

.choose-seat {
  border-radius: 6px;
  background: #fff;
  padding: 100px 150px;
}

.choose-seat > p {
  color: #4e4b66;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.75px;
  margin-bottom: 5px;
  margin-left: 10%;
}

.screen {
  /* width: 532px; */
  width: 90%;
  height: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #d6d8e7;
  margin-left: 10%;
}

.order-info {
  color: #14142b;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.25px;
}

.order-info-card {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(186, 186, 186, 0.24);
}

.order-info-card-left {
  color: #6b6b6b;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.75px;
}

.order-info-card-right {
  color: #14142b;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.75px;
}

.total-payment {
  color: #000;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.75px;
}

.total-price {
  color: #5f2eea;
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.25px;
}

.row-seat {
  color: #4e4b66;
  text-align: center;
  font-family: Mulish;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.75px;
}
