@media screen and (max-width: 575.98px) {
  .movies-scroll {
    justify-content: flex-start;
    gap: 10px;
  }

  .month-scroll {
    justify-content: flex-start;
  }

  .movies-scroll::-webkit-scrollbar {
    display: none;
  }
  .month-scroll::-webkit-scrollbar {
    display: none;
  }

  .text-center-mobile {
    text-align: center;
  }

  .justify-content-center-mobile {
    display: flex;
    justify-content: center;
  }

  .movie-center-mobile {
    text-align: center;
    margin-left: 20vw;
  }
}
